langchain
langchain-community
langchain-text-splitters
langchain-huggingface

transformers>=4.41
sentence-transformers>=2.7
faiss-cpu>=1.7.4

pypdf>=4.0
beautifulsoup4>=4.12
docx2txt>=0.8          

typer>=0.9
rich>=13.7